@charset "uft-8";

*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  width: 1600px;
  max-width: 100%;
  margin-top: 50px;

}

.shapedividers_com-7076{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-7076::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 90px;
  background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 773.74 154.98"><g fill="%23fbd8c2"><path d="M0 0h773.74L386.87 77.5Z"/><path d="m0 0 386.87 154.98L773.74 0Z" opacity=".66"/></g></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-7076::before{
  background-size: 100% calc(2vw + 90px);
  }
  }

  .cta-tuiju{
    position: fixed;
    right: 20px;
    top: 68%;
    left: auto;
    z-index: 10;
    font-size: 0.8em;
    text-align: center;
  }

  .cta-tuiju span{
    font-size: 2rem;
  
  }


.cta-tuiju a{
display: inline-block;
  background-color: green;
  color: white;
padding: 0 30px;
  border: 5px solid black;
  border-radius: 50px;
  max-height: 100px;

}


#fv{
  background-image: url(../img/fv.jpg);
  width: 1600px;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0;
  
}

#fv h1{
  width: 1600px;
  max-width: 100%;
  text-align: center;
position: absolute;
top: 50%;
font-size: clamp(14px,7vw,40px);
color: #ffffff;
font-weight: 900;
text-shadow: 5px 5px #000000;
background-color: rgba(237,155,2,0.8);




}
#fv h2{
  position: absolute;
  top: 80%;
  width: 1600px;
  max-width: 100%;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
  font-size: clamp(12px,4vw,25px);
}

h3{
  width: 100%;
  text-align: center;
  font-size: clamp(12px,4vw,25px);
  text-decoration: underline;
  margin-top: 100px;
}

.balloon4 {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff0c6;
  border-radius: 30px;
}


.balloon4:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff0c6;
  border-radius: 50%;
}

.balloon4:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #fff0c6;
  border-radius: 50%;
}
.balloon4 p {
  margin: 0; 
  padding: 0;
}

.onayami-info{
  display: flex;
  justify-content: center;
}

.nayamudansei{
  width: 200px;
  height: auto;

}

.light-bulb{
  width: 30vw;
  background-image: url(../img/豆電球のアイコン素材\ その2\ .png);
  background-size: contain;
  background-position: center;
 position: relative;
 padding-top: 30vw;
}

.light-bulb p{
  width: 100%;
text-align: center;
  text-shadow: 2px 2px #ffffff;
  font-weight: bold;
  font-size: 3vw;
  position: absolute;
  top: 40%;

}

.omakase-info{
  display: flex;
  justify-content: space-between;
}
.rigth{
  width: 100%;
  display: block;
  text-align: end;
  font-size: 1.8rem;
}

.plan-info{
  display: flex;
  justify-content: space-between;
  margin: 50px 30px;
}

.plan-box{
  width: 25vw;
  height: 180px;
  background-color: #fbd8c2;
  border: 3px solid #000000;
  border-radius: 18px;
}

.plan-box img{
  display: block;
  margin: 0 auto;
  width: 100px;
  object-fit: contain;
}

.plan-box p{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.atend{
  text-align: right;
}
.price{
  display: block;
  width: 1600px;
  max-width: 100%;
  background-color: red;
  color: white;
  font-size: 4vw;
  text-align: center;
}

.price-info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-info :nth-child(1){
  writing-mode: vertical-rl;
}

.price-info :nth-child(2){
  font-size: 5rem;
}

.forexample{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20%;
  margin: 50px 5%;
}

.forexample-info{
  background-color: #fbd8c2;
  border: 3px solid black;
  border-radius: 12px;
}

.forexample h4{
  text-decoration: underline;
  padding: 0 5px;
}
.forexample-info p{
  font-weight: bold;
}
.motto{
  display: flex;
  justify-content: center;
  height: 350px;
}
.motto p{
  writing-mode: vertical-rl;
  font-size: 2rem;
  text-align: end;
}
.motto span{
  background-color: red;
  color: white;
  font-size: 1.2em;
}

.tuika{
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
.tuika img{
  width: 100px;
  height: auto;
}
.tuika p{
  background-color: red;
  color: white;
}
.tuika span{
  font-size: 2rem;
}

.jirei{
  text-align: center;
}

.jirei h3{
margin-bottom: 50px;
}

.jirei img{
  width: 90%;
}
.nagare h4{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}

.nagare p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 20px;
}

.nagare ol{
  list-style: circle;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.nouki{
  border: 3px solid black;
  border-radius: 12px;
  margin: 50px auto;
  width: 80%;

}

.nouki h4{
  width: 100%;
  background-color: white;
  margin-top: 8px;
}
.nouki p{
  width: 100%;
}


@media screen and (max-width: 768px) {
  #fv{
    background-position: center;
  }
}
